.app-div{
  height: 100vh;
  width: 100vw;
}
.login-div{
  box-shadow: 0px 0px 10px 3px rgba(63, 96, 205, 0.826);
}
.login-btn{
  background-color: rgb(62, 2, 62);
}
@media screen and (min-width: 768px){
  .login-div{
    box-shadow: 0px 0px 8px 4px rgb(129, 129, 133);
  }
  .login-btn{
    background-color: rgb(16, 25, 94);
  }
}