.home-div{
  height: 100%;
  width: 97vw;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .home-div{
    width: 100vw;
    height: 100%;
  }
}
.tab-btn{
  color: white;
  outline: none;
  background-color: rgb(4, 96, 110);
}
.convert{
  background-color: rgb(59, 6, 86);
  color: white;
  font-size: 18px;
  height: 40px;
  padding-top: 6px;
  padding-right: 28px;
  width: 110px;
}

.trans-div{
  box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.575);
}

.start-btn{
  background-color: rgb(1, 150, 122);
  height: 40px;
  padding-top: 6px;
}
.stop-btn{
  background-color: rgb(216, 3, 3);
  padding-top: 6px;
  height: 40px;
}
.logout{
  background-color: rgb(40, 1, 40);
  color: white;
}